.main {
    margin-left: 400px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    position: absolute;
    top: 40px;
}

.card {
    padding: 14px 25px;
    width: 50%;
    border: 1px solid black;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: black;
    background-color: #E5E5E5;
}

#createNew {
    background-color: blue;
    padding: 10px;
    width: 20%;
    border-radius:5px
}
#createNew a {
    color:white;
}


